.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 3px;
}
.button-blue {
  color: white;
  background: blue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user {
  min-width: 10rem;
  text-align: left;
}

.id {
  min-width: 5rem;
}

.score {
  text-align: center;
}
